@tailwind base;
/* 基础属性 */
@layer base {
  button {
    display: block;
  }
}
@tailwind components;
/* 样式复用 */
@layer components {
  .btn {
    @apply px-6 py-2 bg-green-600 text-white rounded-md hover:bg-green-700;
  }
}
@tailwind utilities;
/* 实在找不到样式，在这里写css原生 */
@layer utilities {
  .test {
    width: 100px;
    height: 50px;
    background-color: red;
  }
}
